version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: apps/api/Dockerfile
    env_file:
      - ../.env
    expose:
      - "3001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../runtime:/app/runtime
      - ../ssh-keys:/app/ssh-keys
      - ../provisioner:/app/provisioner  
    restart: unless-stopped
    networks:
      - sensualbyte_net



  nginx:
    image: nginx:alpine
    depends_on:
      - api
    ports:
      - "8080:80"
    volumes:
      - ./nginx/gateway.conf:/etc/nginx/nginx.conf:ro
      
      # ✅ generated includes
      - ./nginx/sensualbyte-apps.conf:/etc/nginx/conf.d/sensualbyte-apps.conf:ro
      - ./nginx/sensualbyte-apps-servers.conf:/etc/nginx/conf.d/sensualbyte-apps-servers.conf:ro

      # ✅ CRA build output
      - ../apps/dashboard/frontend/build:/usr/share/nginx/html:ro

    restart: unless-stopped
    networks:
      - sensualbyte_net

  cloudflared:
    image: cloudflare/cloudflared:latest
    network_mode: host
    volumes:
      - /home/swapnil/.cloudflared:/home/nonroot/.cloudflared
      - ./cloudflared/config.yml:/etc/cloudflared/config.yml:ro
    command: tunnel --config /etc/cloudflared/config.yml run
    restart: unless-stopped

networks:
  sensualbyte_net:
    name: sensualbyte_net
