version: "3.9"

services:
  api:
    container_name: sensualbyte-api
    user: "0:0"
    build:
      context: ../apps/api
      dockerfile: Dockerfile
    env_file:
      - ../.env
    ports:
    - "3001:3001" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../runtime:/app/runtime
      - ../ssh-keys:/app/ssh-keys
      - ../provisioner:/app/provisioner  
    restart: unless-stopped
    networks:
      - sensualbyte_net

  dashboard:
    container_name: sensualbyte-dashboard
    build:
      context: ../apps/dashboard/frontend
      dockerfile: Dockerfile
    env_file:
      - ../.env
    ports:
    - "3002:3002"
    volumes:
      - dashboard_build:/dist
    restart: unless-stopped
    networks:
      - sensualbyte_net


  mongo:
    image: mongo:7
    container_name: sensualbyte-mongo
    # container_name: sensual-mongo
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - sensualbyte_net


  nginx:
    image: nginx:alpine
    container_name: sensualbyte-nginx
    depends_on:
      - api
    ports:
      - "8080:80"
    volumes:
      - ./nginx/gateway.conf:/etc/nginx/nginx.conf:ro
      
      # ✅ generated includes
      - ./nginx/sensualbyte-apps.conf:/etc/nginx/conf.d/sensualbyte-apps.conf:ro
      - ./nginx/sensualbyte-apps-servers.conf:/etc/nginx/conf.d/sensualbyte-apps-servers.conf:ro

      # ✅ CRA build output
      - ../apps/dashboard/frontend/build:/usr/share/nginx/html:ro

    restart: unless-stopped
    networks:
      - sensualbyte_net

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: sensualbyte-cloudflared
    network_mode: host
    volumes:
      - /home/swapnil/.cloudflared:/home/nonroot/.cloudflared
      - ./cloudflared/config.yml:/etc/cloudflared/config.yml:ro
    command: tunnel --config /etc/cloudflared/config.yml run
    restart: unless-stopped

volumes:
  dashboard_build:
  mongo_data:

networks:
  sensualbyte_net:
    name: sensualbyte_net
